<!--The content below is only a placeholder and can be replaced.-->
<section>
        <div class = 'myclasssize' >
                <div class = 'topbar'>
                    <h1 id = 'premierLeague'>Premier League</h1>
                        <div id = 'logo'>
                         <img class = 'fade-in'id = 'epllogo'src="../assets/premier-league.jpg" alt="premier-league logo">
                        </div>
                </div>
              <div class = 'container'>
                  <div class = 'row'>
                    <ul>
                        <li id ='li-ab' class='col-md-3 col-6'><a routerLink="/">ABOUT</a></li>
                        <li id ='li-um' class='col-md-3 col-6'><a routerLink="/upcomingMatches">UPCOMING MATCHES</a></li>
                        <li id ='li-tb' class='col-md-3 col-6'><a routerLink="/table">TABLE</a></li>
                        <li id ='li-ts' class='col-md-3 col-6'><a routerLink ="/topScorers">TOP SCORERS</a></li>
                    </ul>
                  </div>
              </div>
          </div>
        
        </section>
        